<div class="beerContainer">
    {{#each this.beersArr}}
    <div class="beerCard">
        <div class="beerCardImg">
            <img src="{{this.image_url}}" alt="cerveza" height="200px">
        </div>
        <h4> {{this.name}}</h4>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
    {{/each}}

</div>